/* Custom-property */
:root{
    --body-bg:#E7E7E7;
    --green:#4DC490;
    --purple:#655AF2;
    --red:#F03535;
    --text-color:#000;
}




/* Global */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing:inherit;
}
body{
    padding: 0;
    margin: 0;
    font-family:"Arial", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--text-color);
    background-color: #fff;
}
img{
    max-width: 100%;
    height: auto;
}

/* Container */
.container{
    width: 100%;
    max-width: 1192px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}

/* Main-content */
.main-content{
    flex-grow:1;
}